@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom left, #9daef6, #4a7ff2);
}

.wrapper {
  background-color: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}

.wrapper header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.wrapper form {
  margin: 40px 0 20px 0;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}

form p {
  font-size: 18px;
  margin-bottom: 15px;
}

form input {
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #999;
  padding: 0 15px;
}

form input:focus {
  padding: 0 15px;
  border: 3px solid hsla(221, 87%, 62%, 0.5);
}

.icon-exchange i {
  font-size: 25px;
  margin-top: 33px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-exchange i:active {
  opacity: 1;
}

form .drop-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.drop-list .select-box {
  display: flex;
  background-color: #fff;
  height: 45px;
  width: 120px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #999;
  border-radius: 5px;
}

.select-box select {
  width: auto;
  margin: 0 -5px 0 5px;
}

.select-box img {
  max-width: 25px;
}

.select-box option {
  padding: 5px;
}

form .exchange-rate {
  margin: 20px 0;
  font-weight: 700;
}

form button {
  padding: 18px 0;
  font-size: 18px;
  background-color: #4a7ff2;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover,
form button:active {
  opacity: 0.8;
}
